:root {
  --white: #FFFFFF;
  --black: #000000;
  --dark-grey: #545454;
  --light-grey: #efefef;

  --highlight-color: #7ED957;
  --accent-color: #545454;

  --bg-main-color: var(--white);
  --bg-secondary-color: var(--light-grey);

  --text-color: var(--black);
  --text-small-size: 0.75rem;
  --text-normal-size: 1rem;
  --text-large-size: 1.5rem;
  --text-larger-size: 2rem;
}


body {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;

  background-color: var(--bg-color);
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}
