.container {
    height: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 3px solid var(--accent-color);
    background-color: var(--bg-main-color);

}

.title {
    border-bottom: 0px;
    background-color: var(--highlight-color);

    text-align: left;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;

    font-size: var(--text-large-size);
    font-weight: bold;
}

.content {
    margin: 10px;

    font-size: var(--text-normal-size);
}